# Keycloak SSO Configuration
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8080  # You can update this later
NEXT_PUBLIC_KEYCLOAK_REALM=cloudgate
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=cloudgate-frontend
NEXT_PUBLIC_API_URL=

#frontend url
NEXT_PUBLIC_APP_URL=

# Backend API Configuration
API_SECRET_KEY=AcRSvlbraXvy6q/NxBYyX7gW+plb2sOdy7mV+cVhlQZJMtxWJqJWgktU5MrJgwPT

# Security Configuration
NEXTAUTH_SECRET=4pCVJFtNCnm3quzyjxJ0kEdHrq2RzXjgTighec79A61npIDNJBgS/IpySN/oX9wO
NEXTAUTH_URL=http://localhost:3000

# Database Configuration (for future use)
DATABASE_URL=

# Environment
NODE_ENV=development

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Session Configuration
SESSION_TIMEOUT=3600
REFRESH_TOKEN_TIMEOUT=86400

# Security Headers
ENABLE_SECURITY_HEADERS=true
ENABLE_CORS=true

# Logging
LOG_LEVEL=info
ENABLE_AUDIT_LOGGING=true 

#nodemailer google mail crednetials
EMAIL_USER=
EMAIL_PASS=